.validate-error {
  color: red !important;
  display: inline-block;
}

@media only screen and (max-width: 1028px) {
  .movie-card {
    display: grid !important;
    justify-content: center !important;
  }
  .vote{
    display: flex !important;
    justify-content: unset !important;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
